/* ============= Fonts =================== */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
/* ============= Reset =================== */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/* ============= Main Styles =================== */
:root {
	--dark-mode-elements: hsl(209, 23%, 22%);
	--dark-mode-bg: hsl(207, 26%, 17%);
	--light-mode-elements: #fff;
	--light-mode-bg: hsl(0, 0%, 98%);
	--bgColor: hsl(0, 0%, 98%);
	--fontColor: hsl(200, 15%, 8%);
}
body {
	width: 100%;
	min-height: 100vh;
	background-color: var(--bgColor);
	color: var(--fontColor);
	font-family: 'Nunito Sans', sans-serif;
}
/*.header {
	padding: 15px;
	background-color: #fff;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.switch_mode {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	cursor: pointer;
	user-select: none;
}*/
.container {
	width: 100%;
	padding: 30px;
	display: flex;
	justify-content: space-between;
}
.container:nth-child(1) {
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.header_container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
button {
	outline: none;
	border: none;
	background-color: transparent
}
.toggle {
	font-size: 18px;
	cursor: pointer;
}
.toggle i {
	padding-right: 5px;
}
.form-control {
	width: 400px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}
.form-control input {
	width: 100%;
	padding: 17px 14px;
	outline: 0;
	border: 0;
	font-size: 15px;
	letter-spacing: 0.5px;
}
.form-control i {
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}
.dropDownCon {
	width: 200px;
	position: relative;
}
.dropDown {
	width: 100%;
	padding: 17px 14px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	font-size: 15px;
}
.dropDown p {
	letter-spacing: 0.5px;
}
.drop {
	width: 100%;
	padding: 10px 14px;
	border-radius: 5px;
	background-color: var(--bgColor);
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	position: absolute;
	top: 4rem;
}
.drop p {
	margin: 5px 0;
}
.countries {
	padding: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.country {
	width: 300px;
	min-height: 350px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	overflow: hidden;
}
.country-img img {
	height: 100%;
	width: 100%;
}
.country-info {
	padding: 20px 17px;
}